{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block body %}

<div class="container">
	<marquee behavior="scroll" direction="right" scrollamount="12"><span style="font-size: 150%;" class="text-dark">Welcome To </span><span class="text-info font-italic" style="font-size: 150%;">PizZa</span><span style="font-size: 150%;" class="text-warning font-italic">Delirium!</span></marquee>
	<div class="jumbotron jumbotron-fluid rounded my-4">
	  <div class="container">
	    <h1 class="display-4 text-white">PizZaDelirium</h1>
	    <p class="lead">The Flavour of Now.</p>
	  </div>
	</div>

</div>
<style>
	.jumbotron {
    min-height: 600px;
    background-image: url('/static/images/pizza_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
</style>
{% endblock %}