{% extends "base.html" %}
{% load static %}
{% block body %}


<div class="text-center mt-4">
    <h2><span class="bg-dark text-white rounded p-1">Status</span></h2>
  </div>
<div class="container mt-4 pt-5 bg-light p-5">
  <h3><span class="text-danger">Order ID -</span> {{order.order_id}}</h3>
  <p><span class="text-warning">Amount -</span> ₹ {{order.amount}}</p>
  <span class="badge badge-primary" id="status">Primary</span>
  <div class="progress mt-4">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50"
      aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
  </div>

</div>
<style>
    /* footer css */
    .footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
}
</style>

{% endblock %}

{% block js %}
<script>
  var order_id = '{{order.order_id}}' 

</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}